# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore data directory
data/
!data/README.md

# Ignore environment files
*.env
.env/

# Ignore results and temporary files
results/
*.log
*.tmp

# Ignore virtual environments
venv/

# Ignore wandb
scripts/wandb